<%- include('partials/header', {pageTitle: "About us" }) %>
  <main>
    <h1>
      <%= title %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut perferendis laborum maxime laudantium.
      Cupiditate at soluta, sint sequi eum maxime suscipit blanditiis alias, aperiam eligendi molestias repudiandae
      molestiae vel.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sed atque sunt in, hic soluta! Sunt, fuga,
      voluptatum obcaecati rem culpa dolores cumque quos cupiditate consectetur magni eius illo doloribus!</p>
  </main>
  </div>
  </div>

  <%- include('partials/footer') %>