<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %> - My Server
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>EJS website</h1>
      <nav>
        <menu>
          <li class=" menu-li">
            <a href="/">Home</a>
          </li>
          <li class=" menu-li">
            <a href="/about">About Us</a>
          </li>
          <li class=" menu-li">
            <a href="/contact">Contact Us</a>
          </li>
        </menu>
      </nav>
    </header>